<div class="header_div" style="background: #3aafda">
  <h1>Задачи</h1>
  <a id="open_create_form" href="#"><%= image_tag "addTodoIcon.png"%></a>
</div>
<div id="content" class="container-fluid">
  <% @projects.each do |p| %>
  <div class="col-lg-4 col-md-6 col-xs-12" style="padding: 10px">
      <div class="task_card">
        <h2><%= p.title %></h2>
        <hr>
        <div class="task_content">
          <ul>
            <% p.todos.each do |todo| %>
              <li>
                <%= form_with scope: :todo, url: todos_path + "/" + todo.id.to_s, local: true, :html => {:autocomplete => "off"} do |form|%>
                  <input id="todo<%= todo.id %>" class="" type="checkbox" style="display: inline">
                  <span><%= todo.text %></span>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>

      </div>
    </div>
  <% end %>
</div>

<div id="create_form" style="display: none">
  <div style="background: white; padding: 0 20px; width: 500px">
    <h1 style="text-align: center">Новая задача</h1>
    <hr>
    <%= form_with scope: :todo, url: todos_path, local: true, id: :todo_form do |form|%>
      <div>
        <%= text_field_tag :text %>
      </div>
      <div>
        <%= select_tag :project_id, options_for_select(@projects.map { |p| [p.title, p.id] }) %>
      </div>
      <div>
        <a class="button_links" style="background: #ccc" href="#" id="close_crete_form">ОТМЕНА</a>
        <a class="button_links" style="background: #3aafda" href="javascript: $('#todo_form').submit();">OK</a>
      </div>
    <% end %>
  </div>
</div>

<script>
    <% @to_mark = [] %>
    <% @projects.each do |p| %>
    <% p.todos.each do |todo| %>
      <% if todo.isCompleted then @to_mark.push todo.id end%>
    <% end %>
    <% end %>

    <%= "var to_mark = " + @to_mark.to_s %>
</script>